*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
:root {
  --white-color: white;
  --main-color: #f80000;
  --second-color: #e4e4e4;
  --input-width: 430px;
  --input-height: 40px;
  --input-radius: 30px;
  --input-border: 1px solid black;
  --top-margin: 30px;
  --line-color: 1px solid #515151;
  --font-size: 20px;
  --width-button: 350px;
  --height-button: 45px;
  --button-radius: 10px;
  --button-hover: #940000;
  --dark-color: black;
  --dark-gray: #828282;
  --head-text: 32px;
  --head-font-width: 500;
  --simple-text: 20px;
  --recipe-width: 311px;
  --recipe-height: 300px;
}
html {
  height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  /* min-height: 100%; */
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  vertical-align: baseline;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
}

::placeholder {
  opacity: 0.5;
}

[hidden] {
  display: none !important;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}
